{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr onclick='window.location.href = "{{ path("plant_update") ~ "/" ~ plant.id }}"'>
                <td>{{ plant.name }}</td>
                <td>{{ plant.company.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}