{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <form action="{{ path('plant_update') }}" method="post">
        <input type="text" name="plant-name" required="true" value="{{ plant.name }}"/>
        <input type="hidden" name="plant-id" value="{{ plant.id }}"/>
        <input type="submit" value="Update" />
    </form>
{% endblock %}