{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td>{{ unit.name }}</td>
                <td>{{ unit.company.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}