{% extends "MatrixAdminBundle::base.html.twig" %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <form action="{{ path('manager_create') }}" method="post">
        <input type="text" name="manager-name" required="true" placeholder="Name" />
        <input type="text" name="manager-surname" required="true" placeholder="Surname" />
        <input type="email" name="manager-email" required="true" placeholder="Email" />
        <input type="password" name="manager-password" required="true" placeholder="Password" />
        <input type="submit" value="Create" />
    </form>
{% endblock %}